version: '3.4'

services:
  pji510_pg:
    image: postgres
    container_name: tcc_pg
    restart: always
    ports:
      - 5432:5432
    environment:
      TZ: utc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tcc_univesp!
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/data/postgres
  # pji510_backend:
  #   build: .
  #   container_name: pji510_backend
  #   volumes:
  #     - .:/usr/app
  #   environment:
  #     TZ: utc
  #     NODE_ENV: production
  #   ports:
  #     - 3333:3333
  #   links:
  #     - pg_pji510
  #   depends_on:
  #     - pg_pji510
volumes:
  pgdata:
    driver: local
